body {
  /* Background color */
  --background-color: #fff;

  /* Section colors */
  --section-color-1: #fff;
  --section-color-2: #F9EAC3;
  --section-color-3: #FBC97E;
  --section-color-4: #F26E21;
  --section-color-5: #4E7141;
  --section-color-6: #5F2300;
  --section-color-7: #000;

  /* Text colors */
  --text-color-1: #fff;
  --text-color-2: #F9EAC3;
  --text-color-3: #F26E21;
  --text-color-4: #4E7141;
  --text-color-5: #5F2300;
  --text-color-6: #000;

  /* Font */
  --font-text: "Poppins", sans-serif;
  --font-text-bold: "Poppins-Bold", sans-serif;

  --font-size-small: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 4.5rem;
  --font-size-X-large: 7rem;

  /* Forms and more */
  --radius-card: 1em;
  --radius-big-card: 2em;
  --radius-round: 100%;
  --shadow: 0px 0px 29px hsla(240, 5%, 41%, 0.2);
  --dark-shadow: 0px 0px 10px black;

  /* Button styling */
  --button-height: 3em;
  --button-width: 6em;
  --button-opacity: 80%;
}

h1 {
  font-size: var(--font-size-X-large);
  font-family: var(--font-text);
  font-weight: 900;
}

h2 {
  font-size: var(--font-size-large);
  font-family: var(--font-text);
  font-weight: 900;
}

h3 {
  font-size: var(--font-size-medium);
  font-family: var(--font-text);
}

p {
  font-size: var(--font-size-small);
  font-family: var(--font-text);
}

body {
  background-color: var(--text-color-4);
}

.desktopheader {
  background-color: var(--section-color-2);
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--section-color-5);
}

.desktopheader a {
  padding: 10px 15px;
  color: var(--text-color-6);
  font-family: var(--font-text);
  text-decoration: none;
  border-radius: var(--radius-card);
}

.desktopheader a:hover {
  background-color: var(--section-color-3);
  color: var(--text-color-1);
}

/* Mobile Header */
.mobileheader {
  background-color: var(--section-color-2);
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  align-items: center;
  padding: 10px;
}

.mobileheader .harry img {
  border-radius: var(--radius-round);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  color: var(--text-color-1);
  background-color: var(--section-color-4);
  width: 60px;
  height: 60px;
  border: none;
  border-radius: var(--radius-card);
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 150px;
  box-shadow: var(--shadow);
  background-color: var(--section-color-5);
  z-index: 1;
  text-align: left;
  border-radius: var(--radius-card);
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: var(--text-color-1);
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: var(--section-color-4);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.article img {
  max-width: 100%;
  height: auto;
  border-radius: var(--radius-card);
}

.button-green {
  background-color: var(--section-color-5);
  color: var(--text-color-1);
  border: none;
  border-radius: var(--radius-card);
  height: var(--button-height);
  width: var(--button-width);
}

.button-green:hover {
  opacity: var(--button-opacity);
  box-shadow: var(--dark-shadow);
}

.table-of-content-mobile {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin:10px;
  background-color: var(--text-color-2);
  border-radius: var(--radius-big-card);
}

.table-of-content-mobile article {
  background-color: var(--section-color-3);
  margin:10px;
  border-radius: var(--radius-card);
}

input:invalid {
  background-color: var(--invalid-color);
  opacity: 50%;
}

input:valid {
  background-color: var(--valid-color);
  opacity: 50%;
}

@media (max-width: 600px) {
  .desktopheader {
    display: none;
  }
}

@media (min-width: 600px) {
  .mobileheader {
    display: none;
  }
}


footer {
  background-color: var(--text-color-2);
  height: 193px;
}